.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
  color: var(--color-primary);
}

.link {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-hover);
    text-decoration: underline;
  }
}

.button {
  background: transparent;
  border: 1px solid var(--color-danger);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--radius);

  &:hover {
    background: var(--color-danger-hover);
    color: white;
  }
}
